{% extends "layout.njk" %}

{% block head %}

<title>Rocketseat</title>

{%endblock%}

{% block content %}

<div id="wrapper">
    <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat">
    <h1><a href="https://rocketseat.com.br" target="blank">Rocketseat</a></h1>
    <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca
        do próximo nível 🚀</p>

    <ul>
        <li>
            HTML
        </li>
        <li>
            CSS
        </li>
        <li>
            JavaScript
        </li>
    </ul>
</div>

<footer>
    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="blank">GitHub</a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="blank">Instagram</a>
        <a href="https://pt-br.facebook.com/rocketseat/" target="blank">Facebook</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="blank">Comunidade</a>
    </div>
</footer>

{% endblock %}